#root {
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.description {
  color: #888;
  max-width: 20rem;
}

.hasmukh-front-page-picture {
  max-width: 300px;
  height: auto;
}

.links {
  margin: auto;
  margin-top: 2rem;
  width: fit-content;
}
.links > a {
  border: 1px solid #888;
  padding: 0.5rem 1rem;
  display: block;
  margin-top: 1rem;
}
